{% extends 'admin/base.html' %}

{% block admin_content %}
<div class="admin-container">
    <div class="admin-header">
        <h2>Добавление товара</h2>
    </div>

    <div class="admin-card" style="max-width: 800px; margin: 0 auto;">
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(size=50) }}
                {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.description.label }}<br>
                {{ form.description() }}
                {% for error in form.description.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.price.label }}<br>
                {{ form.price() }}
                {% for error in form.price.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.category.label }}<br>
                {{ form.category() }}
                {% for error in form.category.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.image.label }}<br>
                {{ form.image() }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
</div>
{% endblock %}